<!--
CAHPRI
Missy, Kelley, George
CS121 Final Project
May 1, 2020
Landing Page. Has menu option for user to select which graph to show
See Source 3
-->
<!DOCTYPE html>
<html>
<head>
  <title>CAN Sensors</title>
  <link rel="stylesheet" href='../static/style.css'>
</head>
  <body>
    <header>
      <div class="containter">
        <h1 class="logo">Sensor Inputs</h1>
        <strong><nav>
          <ul class="menu">
          <!-- menu option for user-->
            <li><a href="/throttle">Throttle</a></li>
          </ul>
        </nav></strong>
      </div>
    </header>

    <div class="faults">
      <h2 class="logo">Faults</h2>
      <figure>
      <img id="bms_fault" src='static/led_red.jpg' style="width:100px">
      <figcaption>BMS</figcaption>
      </figure>
      <figure>
      <img id="tms1_fault" src='static/led_red.jpg' style="width:100px">
      <figcaption>TMS</figcaption>
      </figure>
      <figure>
      <img id="imd_fault" src='static/led_red.jpg' style="width:100px">
      <figcaption>IMD</figcaption>
      </figure>
      
    </div>

    

<script>
  console.log("I'm here");
  const source = new EventSource("/faults");
  source.onmessage = function(event){
    var data = JSON.parse(event.data);

    console.log(data.value);
    if(data.value == 1){
      document.getElementById("bms_fault").src="static/led_green.jpg";

    }
    else{
      document.getElementById("bms_fault").src="static/led_red.jpg";

    }
  }

</script>
    
  </body>
</html>
